@{ 
    ViewBag.Title = "首页";
}

<div class="block-6">
    <div class="main">
        <h1><a href="#"></a></h1>
    </div>
</div>

<div class="main">
    <div class="slide-shadow">
        <!-- slider -->
        <div class="slider-holder">
            <div id="slideshow">
                @foreach (Lawyer x in ViewBag.Lawyers)
                {
                    <div>
                        <img src="/file/@x.BannerId" alt="@SR["LAWYER {0}", x.Name]" />
                        <span class="banner">
                            <span class="banner-inner-1 ident-top-1">@SR["LAWYER {0}", x.Name]</span>
                            <span class="banner-inner-2 ident-top-2">@SR["SKILLED FIELD"]</span>
                            <span class="banner-inner-3 ident-top-2">@x.SkilledField</span>
                            <a class="banner-button ident-top-3" href="#">Click Here!</a>
                        </span>
                    </div>
                }
            </div>
            <ul id="nav"></ul>
        </div><!-- end slider -->
    </div>
</div>

<!-- content -->
<section id="content">
    <div class="main">
        <div class="wrapper ident-bot-7">
            <div class="bg-cover-1 fl-l">
                <div class="block-7 bg-1">
                    <h2 class="h2 ident-bot-3">@SR["Welcome!"]</h2>
                    <div class="line ident-bot-2"></div>
                    <img class="ident-bot-4" src="images/1page_img1.jpg" alt="" />
                    <div class="blue-content">@(new HtmlString(ViewBag.Welcome))</div>
                    <a class="button" href="#">@SR["READ MORE"]</a>
                </div>
            </div>
            <div class="bg-cover-2 fl-l">
                <div class="block-7 bg-2">
                    <h2 class="h2 ident-bot-3">@SR["Advantages"]</h2>
                    <div class="line ident-bot-2"></div>
                    <img class="ident-bot-4" src="images/1page_img2.jpg" alt="" />
                    <div class="blue-content">@(new HtmlString(ViewBag.Advantages))</div>
                    <a class="button" href="#">@SR["READ MORE"]</a>
                </div>
            </div>
            <div class="bg-cover-3 fl-l">
                <div class="block-7 bg-3">
                    <h2 class="h2 ident-bot-3">@SR["Practice"]</h2>
                    <div class="line ident-bot-4"></div>
                    <div class="blue-content">@(new HtmlString(ViewBag.Practice))</div>
                    <ul class="list-1 ident-bot-6">
                        @for (var i = 0; i < 9; i++)
                        {
                            <li><a asp-action="Information" asp-controller="Company" asp-router-id="@ViewBag.Practices[i].Id">@ViewBag.Practices[i].Title</a></li>
                        }
                        @if (ViewBag.Practices.Count == 10)
                        {
                            <li><a asp-action="Information" asp-controller="Company" asp-router-id="@ViewBag.Practices[10].Id">@ViewBag.Practices[10].Title</a></li>
                        }
                        else if (ViewBag.Practices.Count > 10)
                        {
                            <li><a asp-action="Catalog" asp-controller="Company" asp-router-id="@ViewBag.Practices[0].CatalogId">@SR["READ MORE"]</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!-- end content -->
<!-- content -->
<section id="content-2">
    <div class="container_12">
        <div class="wrapper">
            <div class="grid_5 suffix_1">
                <h2 class="ident-bot-8">@SR["Need Practical Help?"]</h2>
                <img class="img-border ident-bot-2" src="images/1page_img3.jpg" alt="" />
                <p><strong>Lorem ipsum dolore concectetuor</strong></p>
                <p class="ident-bot-9">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                <a class="button-2" href="#">@SR["READ MORE"]</a>
            </div>

            <div class="grid_6">
                <h2 class="ident-bot-8">@SR["Featured Solutions"]</h2>
                <div class="wrapper ident-bot-10">
                    <img class="img-border ident-right-1 fl-l" src="images/1page_img4.jpg" alt="" />
                    <div class="extra-wrap inner-ident-3">
                        <ul class="list-5">
                            <li><a href="#">@SR["Enterprise Solutions"]</a></li>
                        </ul>
                        <p>@SR["Registered as a member of this platform, you will gain legal advice, legal advice, case analysis and other services, you can also submit the contract with the customer to us, we will check for you!"]</p>
                    </div>
                </div>

                <div class="wrapper ident-bot-11">
                    <img class="img-border ident-right-1 fl-l" src="images/1page_img5.jpg" alt="" />
                    <div class="extra-wrap inner-ident-3">
                        <ul class="list-5">
                            <li><a href="#">@SR["Personal Solutions"]</a></li>
                        </ul>
                        <p>@SR["Registered as a member of this platform, you can consult cases online, and pay the fee to submit the case and other operations."]</p>
                    </div>
                </div>
                <a class="button-2" href="#">@SR["Register"]</a>
            </div>
        </div>
    </div>
</section><!-- end content -->